.about-section {
    padding: 70px 0 73px;
    position: relative;
    text-align: center;
    color: var(--primary-color-grey);
    margin: 0 auto;
    max-width: 1024px;
    
}

.about-section__container {
    padding: 0 20px;
}

.about-section__title {
    font-size: 35px;
    font-weight: 700;
    line-height: calc(41 / 35);
    margin-bottom: 25px;
    
}

.about-section__text {
    position: relative;
    font-size: 22px;
    font-weight: 500;
    line-height: calc(26 / 22);
    margin-bottom: 35px;
    display: inline-block;
}

.about-section__text::after {
    content: "";
    position: absolute;
    display: block;
    width: 43px;
    height: 2px;
    top: 13px;
    left: -66px;
    background-color: var(--primary-color-grey);
}

.about-section__text::before {
    content: "";
    position: absolute;
    display: block;
    width: 43px;
    height: 2px;
    top: 13px;
    right: -66px;
    background-color: var(--primary-color-grey);
}

.about-section__advantages {
    font-size: 18px;
    line-height: calc(25 / 18);
    max-width: 724px;
    margin: 0 auto 55px;
}

.about-section__advantages-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    counter-reset: count 0;
}

.about-section__advantages-item {
    position: relative;
    padding-top: 139px;
    display: flex;
    flex-basis: 195px;
    flex-direction: column;
    counter-increment: count;
}

.about-section__advantages-item::after {
    content: counter(count);
    display: flex;
    position: absolute;
    top: 4px;
    left: 37px;
    width: 122px;
    height: 122px;
    background-color: var(--primary-color-blue);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 57px;
    color: var(--primary-color-white);
}

.about-section__text-item{
    font-weight: 500;
    font-size: 20px;
    line-height: calc(28 / 20);
}

@media (max-width:1024px) {
    .about-section {
        padding: 70px 0 70px;
    }
    .about-section__title {
        font-size: 32px;
        line-height: calc(38 / 32);
        margin-bottom: 23px;
        white-space: nowrap;
    }

    .about-section__text {
        font-size: 20px;
        line-height: calc(24 / 20);
        margin-bottom: 31px;
    }

    .about-section__text::before{
        width: 40px;
        top: 11px;
        right: -61px;
    }

    .about-section__text::after{
        width: 40px;
        top: 11px;
        left: -62px;
    }

    .about-section__advantages {
        font-size: 16px;
        line-height: calc(23 / 16);
        max-width: 666px;
        margin-bottom: 55px;
        
    }

    .about-section__advantages-item::after {
        left: 41px;
        width: 104px;
        height: 104px;
        font-size: 52px;
    }

    .about-section__advantages-item {
        max-width: 192px;
        max-height: 182px;
        width: 100%;
        left: -4px;
        padding-top: 129px;
        display: flex;
        
    }
    .about-section__text-item {
        font-size: 18px;
        line-height: calc(26 / 18);
        font-weight: 500;
    }
    .about-section__advantages-list {
        max-width: 870px;
        /* justify-content: space-between; */
        gap: 49px;
        margin: 0 auto;
    }

}   

@media (max-width:760px) {
    .about-section {
        max-width: 700px;
    }
    .about-section__title {
        font-size: 26px;
        line-height: calc(29 / 26);
        max-width: 812px;
        margin-bottom: 23px;
    }
    .about-section__text {
        font-size: 20px;
        line-height: calc(24 / 20);
    }
    .about-section__text::before{
        right: -46;
    }
    .about-section__text::after{
        left: -46;
    }
    .about-section__advantages {
        font-size: 16px;
        line-height: calc(19 / 16);
        max-width: 466px;
    }
    .about-section__advantages-item::after {
        left: 26px;
        width: 104px;
        height: 104px;
        font-size: 52px;
    }
    .about-section__advantages-item {
        gap: 20px;
        max-width: 160px;
        width: 100%;
    }
    .about-section__text-item {
        font-size: 15px;
        line-height: calc(19 / 15);
    }
    .about-section__advantages-list {
        max-width: 800px;
    }

}

@media (max-width:610px) {
    .about-section__advantages-item::after {
        left: 20px;
        width: 95px;
        height: 95px;
        font-size: 42px;
    }
    .about-section__text-item {
        font-size: 13px;
        line-height: calc(15 / 13);
    }
}

@media (max-width:540px) {
    .about-section__advantages-item::after {
        left: 18px;
        top: 30px;
        width: 85px;
        height: 85px;
        font-size: 42px;
    }
    .about-section__text-item {
        font-size: 11px;
        line-height: calc(13 / 11);
        gap: 12px;
    }
}

@media (max-width:461px) {
    .about-section__advantages-list {
        display: flex;
        flex-direction: column;

    }
    .about-section__advantages-item::after {
        left: calc(166px - 129px);
        top: 30px;
        width: 85px;
        height: 85px;
        font-size: 42px;
    }
    .about-section__text-item {
        font-weight: 500;
        font-size: 18px;
        line-height: calc(21 / 18);
        gap: 26px;
    }
}