.footer {
    padding: 45px 0 45px;
    background-color: var(--primary-color-dark-grey);
}

/* .footer__container {
    position: relative;
    /* left: 51px;
} */
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.number-phone {
    margin-bottom: 7px;
}
.footer__logo-text {
    max-width: 127px;
    width: 100%;
    font-size: 12px;
    line-height: calc(14 / 12);
}   

.footer__text {
    font-size: 11px;
    line-height: calc(14 / 11);
    min-width: 211px;
    text-align: center;
}

.footer__text-wrapper {
    text-align: center;
}

.footer__phone {
    font-size: 24px;
    line-height: calc(28 /24);
    margin-bottom: 3px;
}

.footer__button {
    font-size: 16px;
    line-height: calc(19 / 16);
    color: var(--primary-color-white);
    border-bottom: 1px solid var(--primary-color-white);
}


@media (max-width: 1024px) {
    .footer {
        padding: 37px 0 45px;
    }
    .footer__img {
    width: 60px;
    height: 60px;
    }
    .footer__text {
        font-size: 12px;
    }
    .footer__phone {
        font-size: 21px;
        line-height: calc(25 /21);
        margin-bottom: 4px;
    }

    .footer__button {
        font-size: 13px;
        line-height: calc(15 / 13);
    }
}

@media (max-width: 680px) {
    .footer__text {
        max-width: 140px;
        text-align: center;
    }

    .footer__logo-wrapper{
        gap: 15px;
    }

    .footer__wrapper {
        flex-shrink: 0;
    }
}

@media (max-width: 660px) {
    .footer {
        padding: 29px 0 15px;
        background-image: linear-gradient(to top, var(--primary-color-dark-grey) 37%,
                            var(--primary-color-footer-grey) 37%) ;
    }

    .footer__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 70px;
    }

    .footer__logo-text {
        font-size: 12px;
        line-height: calc(14 / 12);
        order: 1;
    }

    .call-button  {
        font-size: 13px;
        line-height: calc(15/ 13);
    }
    
    .footer__text {
        order: 2;
        height: 47px;
        max-width: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        line-height: calc(14 / 12);
        font-size: 12px;
        margin: 0 auto;
        opacity: .5;
    }
}

@media (max-width: 400px) {
    .footer__logo-text {
        font-size: 8px;
        line-height: calc(9 / 8);
    }

    .footer__wrapper {
        gap: 20px;
    }

    .footer__text {
        align-items: flex-end;
    }
}    







