.header__wrapper {
    position: relative ;
    content: "";
    top: 50px;
    margin: 0 auto 228px;
    max-width: 1200px;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper__phone {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 24px;
    text-align: center;
    line-height: calc(28 / 24)
}

.call-button {
    display: flex;
    max-width: max-content;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: var(--primary-color-white);
    border-bottom: 1px solid var(--primary-color-white);
}

.header__background {
    width: 100vw;
    min-height: 900px;
} 

.number-phone {
    margin-bottom: 3px;
}



@media (max-width:1024px) {
    .header {
        padding: 0 0 35px;
    }
    .wrapper__phone  {
        font-size: 21px;
        line-height: calc(25 / 21);
    }
    .logo__img {
        width: 60px;
        height: 60px;
    }
    .call-button  {
        font-size: 13px;
        line-height: calc(15/ 13);
    }
    .header__text {
        font-size: 13px;
        line-height: calc(15/ 13);
    }
    .header__wrapper {
        margin-bottom: 76px;
    }
}

@media (max-width:660px) {
    .container {
        padding: 0 15px;
    }
    
}

@media (max-width:582px) {
    .wrapper__phone  {
        font-size: 17px;
        line-height: calc(21 / 17);
        
    }
    .logo__img {
        width: 44px;
        height: 44px;
    }
    .call-button  {
        position: fixed;
        transform: scale(0);
        
    }
    .number-phone {
        background-image: url(../img/Phone.svg);
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
        display: flex;
        width: 44px;
        height: 44px;
        color: transparent;
        order: 0;
        margin-bottom: 0;
    }
    .header__wrapper {
        padding: 0 15px;
    }
} 

@media (max-width:380px) {
    .logo__img {
        width: 30px;
        height: 30px;
    }
    .number-phone{
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
    }

}