:root {
    --primary-color-white: #fff;
    --primary-color-grey: #383A4C;
    --primary-color-green:#15A9CB;
    --primary-color-shadow:rgba(21, 169, 203, 0.3);
    --primary-color-light-grey:rgba(255, 255, 255, 0.5);
    --primary-color-dark-blue:#4A76A8;
    --primary-color-dark-grey:#2F324B;


}